@model CreateOrUpdateCinemaViewModel
@{
    ViewData["CinemaConfig"] = "active";
    ViewData["Cinema"] = "active";
    ViewBag.Title = Model.Id > 0 ? "影院编辑" : "影院添加";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @(Model.Id > 0 ? "影院编辑" : "影院添加")
        <small>影院管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:;"><i class="fa fa-cog"></i> 影院配置</a></li>
        <li><a href="@Url.Action(MvcNames.Cinema.Index)"><i class="fa fa-group"></i> 影院管理</a></li>
        <li class="active">@(Model.Id > 0 ? "影院编辑" : "影院添加")</li>
    </ol>
</section>


@using (Ajax.BeginForm(MvcNames.Cinema._CreateOrUpdate, null, null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "App.onOperationSuccessSimple",
    OnBegin = "App.onFormCommitBegin",
    OnComplete = "App.onFormCommitComplete"
}, new { @class = "form-horizontal" }))
{
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">基础信息</h3>
                    </div>
                    <div class="modal-body">
                        @Html.EditorFor(x => x.Id)
                        @Html.EditorFor(x => x.CinemaCode)
                        @Html.EditorFor(x => x.CinemaName)
                        @Html.EditorFor(x => x.Mid)
                        @Html.EditorFor(x => x.ContactName)
                        @Html.EditorFor(x => x.ContactMobile)
                        @Html.EditorFor(x => x.TheaterChain)
                        @Html.EditorFor(x => x.Address)
                        @Html.EditorFor(x => x.IsOpen)
						@Html.EditorFor(x => x.IsSnackDistribution)
                        @Html.EditorFor(x => x.Latitude)
                        @Html.EditorFor(x => x.Longitude)
                        @Html.EditorFor(x => x.OpenSnacks)
						@Html.EditorFor(x => x.TicketHint)
						@Html.EditorFor(x => x.CinemaLabel)
						@Html.EditorFor(x => x.CinemaPhone)
						@Html.EditorFor(x => x.CardNo)
						@Html.EditorFor(x => x.CardPassword)
                    </div>
                </div>
                <fieldset>
                    <button type="submit" class="btn btn-primary col-xs-2 col-xs-offset-3">保存</button>
                    <a class="btn btn-default col-xs-2 col-xs-offset-1" href="@Url.Action(MvcNames.Cinema.Index)">取消</a>
                </fieldset>
            </div>
        </div>
    </section>
}
