@model CreateOrUpdatePriceSettingViewModel
@{
    ViewData["CinemaConfig"] = "active";
    ViewData["PriceSettings"] = "active";
    ViewBag.Title = Model.Id > 0 ? "价格设置编辑" : "价格设置添加";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @(Model.Id > 0 ? "价格设置编辑" : "价格设置添加")
        <small>影院价格设置</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:;"><i class="fa fa-cog"></i> 影院配置</a></li>
        <li><a href="@Url.Action(MvcNames.PriceSettings.Index)"><i class="fa fa-group"></i> 影院价格设置</a></li>
        <li class="active">@(Model.Id > 0 ? "价格设置编辑" : "价格设置添加")</li>
    </ol>
</section>

@using (Ajax.BeginForm(MvcNames.PriceSettings._CreateOrUpdate, null, null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "App.onOperationSuccessSimple",
    OnBegin = "App.onFormCommitBegin",
    OnComplete = "App.onFormCommitComplete"
}, new { @class = "form-horizontal" }))
{
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">基础信息</h3>
                    </div>
                    <div class="modal-body">
                        @Html.EditorFor(x => x.Id)
                        @Html.EditorFor(x => x.CinemaCode)
                        @Html.EditorFor(x => x.CinemaName)
                        @Html.EditorFor(x => x.WeChatDiscount)
                        @Html.EditorFor(x => x.FackPriceUpperLimit)
                        @Html.EditorFor(x => x.IsSellByStandardPrice)
                        @Html.EditorFor(x => x.LoveSeatPriceDifferences)
                        @Html.EditorFor(x => x.Fee)
                        @Html.EditorFor(x => x.MemberFee)
                        @Html.EditorFor(x => x.FeePayType)
                        @Html.EditorFor(x => x.FeeGatherType)
                    </div>
                </div>
                <fieldset>
                    <button type="submit" class="btn btn-primary col-xs-2 col-xs-offset-3">保存</button>
                    <a class="btn btn-default col-xs-2 col-xs-offset-1" href="@Url.Action(MvcNames.PriceSettings.Index)">取消</a>
                </fieldset>
            </div>
        </div>
    </section>
}

@section scripts{
    <script type="text/javascript">
        $('#CinemaCode').on('change', function () {
            //判断是否选取prompt属性，无返回值；
            if ($(this).val()) {
                var selectCode = $(this).find('option:selected').text();//读出下拉框中的文本内容
                $("#CinemaName").val(selectCode);
            }
        });
    </script>
}