
@{
    //ViewBag.System = "active";
    //ViewBag.User = "active";
    ViewData["System"] = "active";
    ViewData["User"] = "active";
    ViewBag.Title = "用户管理";
    List<int> CurrentPermissions = ViewBag.CurrentPermissions;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        用户管理
        <small>管理系统用户</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:;"><i class="fa fa-cog"></i> 系统管理</a></li>
        <li class="active">用户管理</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="dataTables_wrapper table-responsive no-padding">
                <table id="DataTable" class="table table-bordered-edge table-hover dataTable"
                       data-toggle="dynatable-paged"
                       data-url="@Url.Action(MvcNames.User.List)"
                       data-row-template="user-row-template">
                    <thead>
                        <tr>
                            <th data-dynatable-no-sort="true">#</th>
                            <th data-dynatable-no-sort="true">用户名</th>
                            <th data-dynatable-no-sort="true">真实姓名</th>
                            <th data-dynatable-no-sort="true">所属影院</th>
                            <th data-dynatable-no-sort="true">角色</th>
                            <th data-dynatable-no-sort="true" width="180px">操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="dynatable-custom-filter">
                    <div>

                    </div>
                </div>
                <div class="dynatable-operation">
                    @if (CurrentPermissions.Contains(2))
                    {
                        <a class="btn btn-success btn-sm" href="@Url.Action(MvcNames.User.Create)">
                            <i class="fa fa-plus"></i>
                            新建用户
                        </a>
                    }
                </div>
            </div>

            <script type="text/x-handlebars-template" id="user-row-template">
                <tr>
                    <td style="text-align: left;">{{row}}</td>
                    <td style="text-align: left; ">{{username}}</td>
                    <td style="text-align: left;">{{realname}}</td>
                    <td style="text-align: left;">{{cinemaname}}</td>
                    <td style="text-align: left;">{{rolename}}</td>
                    <td style="text-align: left;">
                        @if (CurrentPermissions.Contains(3))
                        {
                            <a href="@Url.Action(MvcNames.User.Update)/{{id}}">编辑</a>
                            <span>|</span>
                            <a href="@Url.Action(MvcNames.User.ModifyPassword)/{{id}}" data-toggle="modal-form">
                                修改密码
                            </a>
                        }
                        @if (CurrentPermissions.Contains(4))
                        {
                            <span>|</span>
                            <a href="javascript:void(0)"
                               data-href="@Url.Action(MvcNames.User.Delete)/{{id}}" data-toggle="popover"
                               data-ajaxsuccess="App.onOperationSuccessWithinPagedList"
                               data-message="确认删除?" data-type="confirm" data-placement="left"
                               data-content-template="#delete-confirm-template">
                                删除
                            </a>
                        }
                    </td>
                </tr>
            </script>
        </div>
    </div>
</section>