@model CreateOrUpdateCinemaPrintSettingViewModel
@{
    ViewData["Cinema"] = "active";
    ViewData["PrintSetting"] = "active";
    ViewBag.Title = Model.Id > 0 ? "影院打印设置编辑" : "影院打印设置添加";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @(Model.Id > 0 ? "影院打印设置编辑" : "影院打印设置添加")
        <small>影院打印设置管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:;"><i class="fa fa-cog"></i> 影院配置</a></li>
        <li><a href="@Url.Action(MvcNames.PrintSetting.Index)"><i class="fa fa-group"></i> 影院打印设置管理</a></li>
        <li class="active">@(Model.Id > 0 ? "影院打印设置编辑" : "影院打印设置添加")</li>
    </ol>
</section>


@using (Ajax.BeginForm(MvcNames.PrintSetting._CreateOrUpdate, null, null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "App.onOperationSuccessSimple",
    OnBegin = "App.onFormCommitBegin",
    OnComplete = "App.onFormCommitComplete"
}, new { @class = "form-horizontal" }))
{
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">基础信息</h3>
                    </div>
                    <div class="modal-body">
                        @Html.EditorFor(x => x.Id)
                        @Html.EditorFor(x => x.CinemaCode)
                        @Html.EditorFor(x => x.CinemaName)
                        @Html.EditorFor(x => x.IsPrintName)
                        @Html.EditorFor(x => x.IsCustomTicketTemplet)
                        @Html.EditorFor(x => x.IsCustomPackageTemplet)
                    </div>
                </div>
                <fieldset>
                    <button type="submit" class="btn btn-primary col-xs-2 col-xs-offset-3">保存</button>
                    <a class="btn btn-default col-xs-2 col-xs-offset-1" href="@Url.Action(MvcNames.PrintSetting.Index)">取消</a>
                </fieldset>
            </div>
        </div>
    </section>
}

