@model SysUserLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>普照网络80票平台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="https://staticfile.qnssl.com/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    @Styles.Render(Resources.ADMINLTE_STYLE)

    <link href="~/Content/css/login.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page bkgImg">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body login-box-body-extra">
            <div class="login-box-msg">
                <img src="~/Content/img/Avator.png" class="enter_img">
            </div>

            @using (Html.BeginForm(null, null, new { returnUrl = Request.QueryString["returnUrl"] }, FormMethod.Post))
            {
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "用户名" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "密码" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">登陆</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    @Scripts.Render(Resources.JQUERY)
</body>
</html>
