@model CreateOrUpdateGiftViewModel
@{
    ViewData["CinemaManage"] = "active";
    ViewData["Gift"] = "active";
    ViewBag.Title = Model.Id > 0 ? "赠品编辑" : "赠品添加";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @(Model.Id > 0 ? "赠品编辑" : "赠品添加")
        <small>赠品管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:;"><i class="fa fa-cog"></i> 影院管理</a></li>
        <li><a href="@Url.Action(MvcNames.Gift.Index)"><i class="fa fa-group"></i> 赠品管理</a></li>
        <li class="active">@(Model.Id > 0 ? "赠品编辑" : "赠品添加")</li>
    </ol>
</section>

@using (Html.BeginForm(MvcNames.Gift._CreateOrUpdate, MvcNames.Gift.Name, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))

{
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">基础信息</h3>
                    </div>
                    <div class="modal-body">
                        @Html.EditorFor(x => x.Id)
                        @Html.EditorFor(x => x.CinemaCode)
                        @Html.EditorFor(x => x.Title)
                        @Html.EditorFor(x => x.OriginalPrice)
                        @Html.EditorFor(x => x.Price)
                        @Html.EditorFor(x => x.Image)
                        @Html.EditorFor(x => x.Stock)
                        @Html.EditorFor(x => x.StartDate, new { htmlAttributes = new { @class = "datepicker" } })
                        @Html.EditorFor(x => x.EndDate, new { htmlAttributes = new { @class = "datepicker" } })
                        @Html.EditorFor(x => x.Status)
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">详细</h3>
                    </div>
                    <div class="modal-body">
                        <script src="/Content/plugins/ckeditor/ckeditor.js"></script>
                        @Html.EditorFor(x => x.Details)
                        <script>
                            CKEDITOR.replace('Details');
                        </script>
                    </div>
                </div>

                <fieldset>
                    <button type="submit" class="btn btn-primary col-xs-2 col-xs-offset-3">保存</button>
                    <a class="btn btn-default col-xs-2 col-xs-offset-1" href="@Url.Action(MvcNames.Gift.Index)">取消</a>
                </fieldset>
            </div>
        </div>
    </section>
}

@section scripts{
    <script type="text/javascript">
        $('#StartDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            minView: 2,
            showMeridian: 0,
            forceParse: 0,
            startView: 2,
            format: 'yyyy-mm-dd'
        });

        $('#EndDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            minView: 2,
            showMeridian: 0,
            forceParse: 0,
            startView: 2,
            format: 'yyyy-mm-dd'
        });
    </script>
}
