
@{
    ViewData["System"] = "active";
    ViewData["Role"] = "active";
    ViewBag.Title = "角色管理";
    List<int> CurrentPermissions = ViewBag.CurrentPermissions;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        角色管理
        <small>管理系统角色并分配权限</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:;"><i class="fa fa-cog"></i> 系统管理</a></li>
        <li class="active">角色管理</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="dataTables_wrapper table-responsive no-padding">
                <table id="DataTable" class="table table-bordered-edge table-hover dataTable"
                       data-toggle="dynatable-paged"
                       data-url="@Url.Action(MvcNames.Role.List)"
                       data-row-template="role-row-template">
                    <thead>
                        <tr>
                            <th data-dynatable-no-sort="true">#</th>
                            <th data-dynatable-no-sort="true">角色名</th>
                            <th data-dynatable-no-sort="true">角色描述</th>
                            <th data-dynatable-no-sort="true">创建时间</th>
                            <th data-dynatable-no-sort="true">角色权限</th>
                            <th data-dynatable-no-sort="true" width="180px">操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="dynatable-custom-filter">
                    <div>

                    </div>
                </div>
                <div class="dynatable-operation">
                    @if (CurrentPermissions.Contains(2))
                    {
                        <a class="btn btn-success btn-sm" href="@Url.Action(MvcNames.Role.Create)">
                            <i class="fa fa-plus"></i>
                            新建角色
                        </a>
                    }
                </div>
            </div>

            <script type="text/x-handlebars-template" id="role-row-template">
                <tr>
                    <td style="text-align: left;">{{row}}</td>
                    <td style="text-align: left; vertical-align: top;">
                        {{name}}
                    </td>
                    <td style="text-align: left;">{{description}}</td>
                    <td>
                        {{created}}
                    </td>
                    <td>
                    @if (CurrentPermissions.Contains(3))
                    {
                        <a href="@Url.Action(MvcNames.RolePermissions.Index, MvcNames.RolePermissions.Name)?queries[RoleId]={{id}}&RoleId={{id}}">角色权限管理</a>
                    }
                    </td>
                    <td style="text-align: left;">
                        {{#if canedit}}
                        @if (CurrentPermissions.Contains(3))
                        {
                            <a href="@Url.Action(MvcNames.Role.Update)/{{id}}">编辑</a>
                        }
                        {{/if}}
                        
                        {{#if candelete}}
                        @if (CurrentPermissions.Contains(4))
                        {
                            <span>|</span>
                            <a href="javascript:void(0)"
                               data-href="@Url.Action(MvcNames.Role.Delete)/{{id}}" data-toggle="popover"
                               data-ajaxsuccess="App.onOperationSuccessWithinPagedList"
                               data-message="确认删除?" data-type="confirm" data-placement="left"
                               data-content-template="#delete-confirm-template">删除
                            </a>
                        }
                        {{/if}}
                    </td>
                </tr>
            </script>

        </div>
    </div>
</section>