@model GenerateCouponViewModel
@{
    ViewData["CinemaManage"] = "active";
    ViewData["Conpon"] = "active";
    ViewBag.Title = "生成优惠券";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @("生成优惠券")
        <small>优惠券管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:;"><i class="fa fa-cog"></i> 影院管理</a></li>
        <li><a href="@Url.Action(MvcNames.Conpon.Index)"><i class="fa fa-group"></i> 优惠券管理</a></li>
        <li class="active">@("生成优惠券")</li>
    </ol>
</section>


@using (Html.BeginForm(MvcNames.Conpon._GenerateCoupon, MvcNames.Conpon.Name, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">基础信息</h3>
                    </div>
                    <div class="modal-body">
                        @Html.EditorFor(x => x.Id)
                        @Html.EditorFor(x => x.CinemaCode)
                        @Html.EditorFor(x => x.ConponTypeParentId)
                        @Html.EditorFor(x => x.ConponTypeCode)
                        @Html.EditorFor(x => x.Price)
                        @Html.EditorFor(x => x.Title)
                        @Html.EditorFor(x => x.Image)
                        @Html.EditorFor(x => x.ValidityDate, new { htmlAttributes = new { @class = "datepicker" } })
                        @Html.EditorFor(x => x.GenerateNum)
                     </div>
                </div>
                <fieldset>
                    <button type="submit" class="btn btn-primary col-xs-2 col-xs-offset-3">生成优惠券</button>
                    <a class="btn btn-default col-xs-2 col-xs-offset-1" href="@Url.Action(MvcNames.Conpon.Index)">取消</a>
                </fieldset>
            </div>
        </div>
    </section>
}


@section scripts{
    <script type="text/javascript">
        $('#ValidityDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            minView: 2,
            showMeridian: 0,
            forceParse: 0,
            startView: 2,
            format: 'yyyy-mm-dd'
        });

        $('#CinemaCode').on('change', function () {
            //判断是否选取prompt属性，无返回值；
            if ($(this).val()) {
                var CinemaName = $(this).find('option:selected').text();
                $("#CinemaName").val(CinemaName);
            }
        });


        $('#ConponTypeParentId').on('change', function () {
            //判断是否选取prompt属性，无返回值；
            if ($(this).val()) {
                var selectCode = $(this).find('option:selected').val();
                doGetConponType(selectCode);
            }
        });


        function doGetConponType(typeParentId) {
            var selDom = $("#ConponTypeCode");//根据id获取select的jquery对象
            $.post('@Url.Action("GetConponType", "Conpon")', { 'typeParentId': typeParentId }, function (result) {
                var jsonObj = eval("(" + result + ")");
                $("#ConponTypeCode").empty();
                for (var i = 0; i < jsonObj.length; i++) {
                    selDom.append("<option value='" + jsonObj[i].TypeCode + "'>" + jsonObj[i].TypeName + "</option>");//添加option
                }
            }, 'json');
        }
    </script>
}


